# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# vscode
.vscode

# log
access.log

# dependencies
/node_modules
/npm-debug.log*
/yarn-error.log
/yarn.lock
/package-lock.json
/bs-config.json
# production

/logs
# misc
.DS_Store
